/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Login Container */
.login-container {
    background: #fff;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Register Container */
.register-container {
    background: #fff;
    padding: 40px;
    width: 100%;
    max-width: 700px;
    height: auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Headings */
.login-container h1, .login-container p,
.register-container h1 {
    text-align: left;
}

/* Form Control */
.login-container .form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    height: auto;
    font-size: 1rem;
}

/* Input Group Styling */
.input-group .input-group-text, 
.input-group .form-control {
    height: 100%;
    padding: 0.5rem 0.75rem;
}

.input-group-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-control {
    height: auto;
}

/* Login Button */
.login-btn {
    width: 100%;
    max-width: 200px;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

/* Extra Options Links */
.extra-options {
    margin-top: 20px;
}

.extra-options a {
    text-decoration: none;
    color: #007bff;
}

.extra-options a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Image Container */
.image-container {
    background: rgb(4, 25, 252); 
    width: 100%;
    max-width: 400px;
    height: 400px;
    text-align: center;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    overflow: hidden;
}

/* Social Icons Background */
.social-icons {
    height: 100%;
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    .login-container, .register-container {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .login-main{
        flex-direction: column !important;
    }
     .register-container {
        width: 90%;
        padding: 20px;
    }
    .login-container{
        width: 100%;
    }

    .image-container {
        display: none;
    }

    .login-btn {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .register-container {
        width: 90%;
        padding: 15px;
    }
    .login-container{
        width: 100%;
    }
    .image-container {
        max-width:100%;
    }

    .login-btn {
        width: 100%;
    }
}
